@media screen and (max-width: 480px) {
  body {
    min-height: 800px;
  }

  .nav-logo {
    justify-self: start;
    margin-left: 40px;
  }

  .nav-list {
    display: none;
  }

  .nav-menu {
    display: block;
    justify-self: end;
    margin-right: 20px;
    padding: 20px;
  }

  .sidenav {
    display: block;
    position: fixed;
    width: 250px;
    background-color: #ffffff;
    padding: 0;
    margin-top: 0;
    transform: translate(-250px, 0);
    transition: transform 0.5s;
    z-index: 100;
  }

  .sidenav-item {
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
  }

  .sidenav-link {
    text-decoration: none;
    padding: 15px;
  }

  .hero {
    background: #353535 url("../hero-image/hero-image_4-small.jpg") no-repeat;
  }

  .open {
    transform: translate(0, 0);
    transition: transform 0.5s;
  }

  resto-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 680px) {
  body {
    min-height: 800px;
  }

  resto-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .review-form-group {
    width: 60%;
  }
}

@media screen and (min-width: 750px) {
  body {
    min-height: 800px;
  }
  resto-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .review-form-group {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    min-height: 800px;
  }

  resto-list {
    grid-template-columns: repeat(3, 1fr);
  }

  resto-detail {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 20px;
    grid-column-gap: 30px;
    grid-template-areas:
      "titles titles"
      "abouts insights"
      "menus insights"
      "reviews reviews";
  }
  .detail-resto-titles {
    grid-area: titles;
  }
  .detail-resto-abouts {
    grid-area: abouts;
  }
  .detail-resto-insights {
    grid-area: insights;
  }
  .detail-resto-menus {
    grid-area: menus;
  }
  .detail-resto-reviews {
    grid-area: reviews;
  }

  .detail-insight-group {
    padding: 50px 70px;
  }

  .menu-list {
    grid-template-columns: 1fr 1fr;
  }

  .review-form-group {
    width: 70%;
  }
}
