@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #152c5b;
  --ascend-color: #ff498b;
  --hover-color: #6792ff;
  --hover-dark-color: #3252df;
  --secondary-text-color: #b0b0b0;
  --placeholder-color: #b2bbc6;
  --form-color: #f5f6f8;
}
* {
  box-sizing: border-box;
  /*
  padding: 0;
  margin: 0;
  */
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #454545;
  min-height: 800px;
  display: flex;
  flex-direction: column;
}

.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
.skip-to-content:focus {
  top: 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
}

.nav-logo {
  font-size: 2rem;
  margin: 20px 0;
}

.nav-menu {
  display: none;
  font-size: 1.5rem;
}

.nav-list {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  width: 100%;
  padding: 16px;
}

.sidenav {
  display: none;
}

.hero {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 500px;
  background: #353535 url("../hero-image/hero-image_4-large.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.hero-color-filter {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.hero-inner {
  align-self: center;
  text-align: center;
  max-width: 70%;
  color: #ffffff;
}
.hero-title {
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 10px 0;
}
.hero-subtitle {
  font-weight: 200;
}

main {
  flex: 1;
}

.container {
  width: 85%;
  margin: 20px auto 0 auto;
  padding: 0;
  min-height: 100%;
}

.content {
  width: 100%;
}

.content-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 30px 0 5px 0;
}

.content-subtitle {
  text-align: center;
  font-weight: 300;
  margin: 0 0 20px;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}

resto-list {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  width: 100%;
  margin: 0 auto;
}
resto-list a {
  text-decoration: none;
  color: var(--primary-color);
}

.resto-item a:hover {
  color: var(--hover-color);
}

.resto-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 20px;
}

.resto-item-image {
  width: 100%;
  height: 250px;
  position: relative;
}

.resto-item-tag {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 30px;
  text-align: center;
  background-color: #ff498b;
  border-radius: 0 0 0 20px;
}

.resto-item-city {
  padding-top: 5px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #ffffff;
}

.resto-item-thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.resto-item-content {
  padding: 5px 20px 20px 20px;
}

.resto-item-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.2rem;
  margin: 15px 0 10px 0;
}
.resto-item-title a {
  padding: 15px 0;
}

.resto-item-description {
  font-size: 0.8rem;
  line-height: 1.7;
  margin: 12px 0 12px 0;
}

.fa-star {
  color: #ffcc47;
}

resto-detail {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
}
resto-detail article {
  width: 100%;
  margin: 10px auto;
}
resto-detail aside {
  width: 90%;
  margin: 50px auto;
}

.detail-image-header {
  display: block;
  width: 100%;
  object-fit: cover;
}

.detail-article-title {
  color: var(--primary-color);
  font-weight: 600;
}

.detail-article-description {
  font-size: 0.8rem;
  line-height: 1.9;
}
.detail-insight-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px 30px;
  min-height: 200px;
  line-height: 2rem;
  grid-template-areas:
    "insight-title insight-title"
    "insight-header insight-value";
}

.insight-title {
  grid-area: insight-title;
}
.insight-header {
  grid-area: insight-header;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  justify-self: center;
}
.insight-value {
  grid-area: insight-value;
  font-weight: 500;
  justify-self: center;
  font-size: 0.9rem;
}

.detail-menu {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 20px;
}

.menu-title-group {
  margin-bottom: 10px;
}
.menu-title {
  color: var(--ascend-color);
  display: inline;
  padding-left: 5px;
  font-weight: 400;
  font-size: 1.3em;
}

.fa-pizza-slice,
.fa-cocktail {
  color: var(--ascend-color);
}

.menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  grid-row-gap: 10px;
}
.menu-item,
.insight-list,
.insight-list-value {
  list-style: none;
  padding: 0;
}

.review-group {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}

.review-body {
  width: 100%;
  overflow: hidden;
}

.review-profile {
  margin: 0 auto;
  font-size: 3rem;
}

.review-consumer-name {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.review-date-post {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}

.review-content {
  margin-top: 5px;
  font-size: 0.9rem;
}

.review-form-group {
  grid-template-rows: 1fr;
  grid-row-gap: 8px;
  margin-bottom: 15px;
}

.review-form-input {
  margin-bottom: 15px;
  display: grid;
}

.review-form label {
  font-size: 0.9rem;
  font-weight: 600;
}

.review-form input {
  border: none;
  background-color: var(--form-color);
  padding: 15px 20px;
  color: var(--primary-color);
  font: 500 1rem "Montserrat", sans-serif;
  border-radius: 3px;
}

.review-form textarea {
  border: none;
  background-color: var(--form-color);
  padding: 15px 20px;
  color: var(--primary-color);
  font: 500 1rem "Montserrat", sans-serif;
  border-radius: 3px;
}

.review-form input:focus,
.review-form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3px 1px var(--secondary-text-color);
  -moz-box-shadow: 0 0 3px 1px var(--secondary-text-color);
  box-shadow: 0 0 3px 1px var(--secondary-text-color);
}

.review-form button {
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: var(--hover-color);
  color: #fff;
  padding: 15px 30px;
  font: 500 0.8rem "Montserrat", sans-serif;
}

.review-form button:focus,
.review-form button:hover {
  background: var(--hover-dark-color);
}

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: var(--ascend-color);
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.1);
  box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.1);
}

footer p {
  text-align: center;
}

footer p a {
  color: #db0000;
  text-decoration: none;
}

.skeleton {
  user-select: none;
  background-color: #eeeeee;
  color: #eeeeee;
}
